<div class="page-header">
  <h1>People</h1>
</div>

<table class="table table-bordered">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th>Eye Color</th>
        <th>Telephone Number</th>
      </tr>
    </thead>
    <tbody>
        <% @people.each do |k, v| %>
        <tr>
          <td><%= k[:first_name] %></td>
          <td><%= k[:last_name] %></td>
          <td><%= k[:date_of_birth].first %></td>
          <td><%= k[:eye_color] %></td>
          <td><%= k[:telephone_number] %></td>
        </tr>
      <% end %>
    </tbody>
</table>
